body {
    background-image: url('fundo.jpeg');
    background-size: cover;
    background-position: top;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Estilos do cabeçalho */
nav {
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
}
#nav-container {
    display: flex;
    align-items: center;
}

#menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

#menu .item {
    margin-right: 20px;
}

#criar-entrar-container {
    display: flex; /* Define o container do criar conta e entrar como flexível */
    align-items: center; /* Alinha os itens verticalmente */
    margin-left: auto;
}

#criar-conta {
    margin-right: 10px;
}

#entrar {
    /* Remove a margem para que o botão "Entrar" fique colado à esquerda */
    margin-left: 0;
}

/* Estilos dos ícones */
#menu i {
    margin-right: 5px;
}

/* Estilos da seção centralizada */
.centralizado {
    margin-top: 220px;
    text-align: center;
}

.titulo {
    font-size: 44px; /* Altere o tamanho da fonte conforme necessário */
    margin-bottom: 1px;
}

.descricao {
    font-size: 18px; /* Altere o tamanho da fonte conforme necessário */
}

/* Estilos da seção de busca */
#busca {
    margin-top: 65px;
    text-align: center;
}

#busca input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#busca button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

#busca button:hover {
    background-color: #0056b3;
}

/* Estilos dos links e listas de navegação */
footer {
    width: 100%;
    text-align: center;
    margin-top: 80px;
}

#footer-submenu-frios, #footer-submenu-padaria {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: -50px;
    
}

#footer-submenu-frios li, #footer-submenu-padaria li {
    display: inline-block;
    margin-right: 20px;
}

#menu a, #footer-submenu-frios li a, #footer-submenu-padaria li a {
    text-decoration: none;
}

#footer-submenu-frios li:last-child, #footer-submenu-padaria li:last-child {
    margin-right: 0;
}

