/* Estilos gerais */
body {
    background-image: url('fundo.jpeg');
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Define o menu como flexível */
}

#criar-conta-entrar {
    display: flex; /* Define o container do criar conta e entrar como flexível */
    align-items: center; /* Alinha os itens verticalmente */
}

#criar-conta {
    margin-right: 10px;
}

#entrar {
    margin-left: 20px;
}

/* Estilos da seção centralizada */
.centralizado {
    margin-top: 150px;
    text-align: center;
}

/* Estilos da seção de busca */
#busca {
    margin-top: 30px;
    text-align: center;
}

#busca input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#busca button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

#busca button:hover {
    background-color: #0056b3;
}

/* Estilos dos links e listas de navegação */
footer {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

#footer-submenu-frios, #footer-submenu-padaria {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

#footer-submenu-frios li, #footer-submenu-padaria li {
    display: inline-block;
    margin-right: 20px;
}

#footer-submenu-frios li:last-child, #footer-submenu-padaria li:last-child {
    margin-right: 0;
}

#footer-submenu-padaria li.padaria {
    clear: both;
}
